.geral{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.title{
    font-size: 20px;
    text-align: center;
}

.margin-left{
    margin-left: 5px;
}
.slides-section .button-7{
    position: absolute;
    float: right;
    left: 43%;
}
.img_slides{
    width: 45%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    opacity : 0.7 
}
.arrow-down {
    position: absolute;
    top: 12px;
    right: 12px;
}


.button_final{
    text-align: center;
    gap:15px;
}





.tagify {
    width: 100%;

    background: rgba(255, 255, 255, 0.8);
    
  }
  
  /*Tagify */
  .tagify__dropdown.catalog-list {
    font-size: 14px;
  }
  .tagify__dropdown.catalog-list .tagify__dropdown__item {
    padding: 0.5em 0.7em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    grid-template-areas: "avatar name" "avatar price";
  }
  .tagify__dropdown.catalog-list .tagify__dropdown__item__avatar-wrap {
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: #EEE;
    transition: 0.1s ease-out;
  }
  .tagify__dropdown.catalog-list img {
    width: 100%;
    vertical-align: top;
  }
  .tagify__dropdown.catalog-list strong {
    grid-area: name;
    width: 100%;
    align-self: center;
    font-weight: 500;
  }
  .tagify__dropdown.catalog-list span {
    grid-area: price;
    width: 100%;
    font-size: 0.9em;
    opacity: 0.6;
  }
  .tagify__dropdown.catalog-list .addAll {
    border-bottom: 1px solid #DDD;
    gap: 0;
  }
  
  /* Tags items */
  .tagify__tag {
    white-space: nowrap;
  }
  
  .tagify__tag .tagify__tag__avatar-wrap {
    width: 16px;
    height: 16px;
    white-space: normal;
    background: silver;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.12s ease-out;
  }
  .tagify__tag img {
    width: 100%;
    vertical-align: top;
  }

  /*Tagify */
