.new-loyalty{
    width: 100%;
    text-align: center;
}
.input-points{
 text-align: right;
}
.modal-loyalty{
    width: 80%;
    height: 100%;
}
.modal-loyalty .button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-points{
    width: 30%;
}